body {
    background-color: #ffffff;
	padding-top: 70px;
	margin: 0 auto;
	font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

.contact {
	position: fixed;
	bottom: 50px;
	text-align: right;
}

.navbar-custom {
	background-color: #800080;
}

.navbar-custom .navbar-collapse .navbar-nav > li > a,
.navbar-custom .navbar-collapse .navbar-nav > li > a:focus {
	color: #ffffff;
}

.navbar-custom .navbar-collapse .navbar-nav > li > a:hover {
	color: #800080;
	background-color: #ffffff;
}

.navbar-custom .navbar-collapse .navbar-nav > .active > a {
	color: #000000;
}

.navbar-custom .navbar-collapse .navbar-nav > .active > a:hover {
	color: #800080;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover {
	color: #ffffff;
}
