html {
	height: 100%;
}

body {
    background-color: #ffffff;
    height: 100%;
	margin: 0 auto;
	font: 1.5em Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

/*----------------------*/
/* custom mobile styles */
/*----------------------*/
@media (max-width: 768px) {
	.col-sm-3 {
		padding-bottom: 20px;
	}

	.left-padding {
		padding-left: 10px;
	}
}

/*----------------*/
/* navigation bar */
/*----------------*/
.navbar-custom {
	background: rgba(255,255,255,0);
	margin-bottom: 0px;
	border-width: 0 0 0;
}

#dropdown-nav {
	background-color: #800080;
}

.navbar-custom .navbar-collapse .navbar-nav > li > a,
.navbar-custom .navbar-collapse .navbar-nav > li > a:focus,
#dropdown-nav > li > a,
#dropdown-nav > li > a:focus {
	color: #ffffff;
	font-weight: 800;
}

.navbar-custom .navbar-collapse .navbar-nav > li > a:hover,
#dropdown-nav > li > a:hover {
	color: #800080;
	background-color: #ffffff;
}

.navbar-custom .navbar-collapse .navbar-nav .active > a,
#dropdown-nav > a {
	color: #800080;
}

.navbar-custom .navbar-collapse .navbar-nav .active > a:hover,
#dropdown-nav .active > a:hover {
	color: #800080;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover {
	color: #ffffff;
	font-weight: 800;
}

.navbar-custom-bottom {
	margin-bottom: 0px;
}

/*---------*/
/* section */
/*---------*/
.sectionClass {
	min-height: 100%;
	padding-top: 50px;
}

.sectionHeader {
	text-align: center;
	padding-bottom: 10px;
	color: #ffffff;
}

/*------------*/
/* front page */
/*------------*/
.carousel,
.item,
.active {
	height: 100%;
}

.carousel-inner {
	height: 100%;
}

.frontPic {
	height: 100%;
	width: 100%;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#torontoPic {
	background-image: url("../images/toronto_skyline.jpg");
}

#montrealPic {
	background-image: url("../images/montreal_skyline.jpg");
}

#seoulPic {
	background-image: url("../images/seoul_skyline.jpg");
}

.verticalCenter {
	margin: 0 auto;
	top: 50%;
	transform: translateY(-20%);
}

.textBox {
	color: #ffffff;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	padding: 10px; 
}

/*-----------*/
/* academics */
/*-----------*/
#academics {
	background: url(../images/academics_bg.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#degreeText {
	color: #ffffff;
	font-weight: 400;
	padding-top: 80px;
}

#mcgillCampus {
	height: 280px;
	background: url(../images/mcgill_campus.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#paCampus {
	height: 280px;
	background: url(../images/pa_campus.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

/*------------*/
/* google map */
/*------------*/
.mapGrid {
	padding-bottom: 5%;
}

#mcgillMap,
#paMap {
	width: 100%;
	height: 280px;
}

/*-----------*/
/* skill set */
/*-----------*/
#skillSet {
	background: url(../images/skillset_bg.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.skillSetRow {
	min-height: 200px;
	padding-bottom: 50px;
}

.center {
	display: table;
	margin: 0 auto;
}

/*----------*/
/* projects */
/*----------*/
#projects {
	background: url(../images/projects_bg.png) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#projectIndex {
	color: #ffffff;
	text-align: center;
}

/*--------*/
/* footer */
/*--------*/

