body {
    background-color: #ffffff;
	
	margin: 0 auto;
	font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

.wrapper {
	margin: 0 auto;
	padding-left: 20px;
}

#menu {
	background-color: #400080;
	float: left;
	height: 100%;
	width: 22%;
	text-align: right;
}

#menu ul {
	padding: 8px 0px;
	list-style-type: none;
}

#menu li {
	padding: 20px;
}

#menu a {
	padding: 9px;
}

#menu a:hover {
	color: #ffffff;
	background-color: #400080;
	border-radius: 8px;
}

.sidebar {
	float: left;
	text-align: right;
}

#contact {
	position: fixed;
	bottom: 50px;
	right: 78%;
	text-align: right;
}

#main {
	float: right;
	width: 75%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
}

#footer {
	height: 50px;
	margin: 0 auto;
	padding-top: 5px;
	padding-right: 10px;
	clear: both;
	text-align: right;
}