body {
	background: -webkit-linear-gradient(#ffff80, #ffff00);		/* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffff80, #ffff00);			/* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffff80, #ffff00);			/* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffff80, #ffff00);				/* Standard syntax (must be last) */
	
	padding: 50px 0;
	margin: 0;
	font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

.wrapper {
	width: 800px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
	background-color: #333;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
}

#menu ul {
	padding: 8px 0px;
}

#menu li {
	display: inline;
	padding: 20px;
}

#menu a {
	padding: 9px;
}

#menu a:hover {
	color: #ffffff;
	background-color: #400080;
	border-radius: 8px;
}

.sidebar {
	float: left;
	text-align: right;
}

.sidebar #contact {
	position: fixed;
	bottom: 50px;
	right: 77%;
	text-align: right;
}

.footer {
	width: 800px;
	margin: 0 auto;
	text-align: right;
}